<div class="row">
    <div class="col-md-12">
        <h2>Edit Post</h2>
        <hr>
        <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control form-group" formControlName="title">
                <div>{{showErrors(postForm.get('title'))}}</div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea name="Description" class="form-control form-group" formControlName = "description"></textarea>
                <div>{{ showErrors(postForm.get('description'))  }}</div>
            </div>
            <input type="submit" class="btn btn-primary" [disabled]="!postForm.valid">
        </form>
    </div>
</div>